# Get these from your Supabase project dashboard > Settings > API
VITE_SUPABASE_URL=https://vhslczshkcjjkzzfccge.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZoc2xjenNoa2Nqamt6emZjY2dlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0MjM4NjgsImV4cCI6MjA5NTk5OTg2OH0.SUgdUGSjotxvGYHr4ECTVwwVz4tdRmt9DA9rojuYzIQ
VITE_SITE_URL=http://localhost:5173
